/* full width code examples */

body {
    overflow-x: hidden;
}

@media (max-width: 1000px) {
.com-rigsomelight-devcards-card-hide-border
.com-rigsomelight-devcards_rendered-card
.com-rigsomelight-devcards-markdown pre {
    margin-right: -3000px;
    margin-left: -3000px;
    padding-right: 3000px;
    padding-left: 3000px;
}
}

/* default typography */
.com-rigsomelight-devcards_rendered-card {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
}

@media screen {
    .com-rigsomelight-devcards_rendered-card {
        font-size: 18px;
    }
}

.com-rigsomelight-devcards_rendered-card code {
    font-size: 90%;
}

.com-rigsomelight-devcards_rendered-card h1,
.com-rigsomelight-devcards_rendered-card h2,
.com-rigsomelight-devcards_rendered-card h3,
.com-rigsomelight-devcards_rendered-card h4,
.com-rigsomelight-devcards_rendered-card h5 {
    font-weight: 500;
}

.com-rigsomelight-devcards_rendered-card a {
    color: #008080;
    text-decoration: none;
    font-weight: bold;
}


/*.com-rigsomelight-devcard {
    position: absolute;
    float: left;
    left: 0; right: 0; top: 3em; bottom: 0;
}
*/
.com-rigsomelight-devcards-card-base.com-rigsomelight-devcards-breadcrumbs.com-rigsomelight-devcards-typog>span:first-child>a::before {
    content: "Jeremy's ";
}

@media screen {
    .com-rigsomelight-devcards-card-base-no-pad {
        min-height: calc(100vh - 7em);
    }
}

.cljs-logo {
    display: none;
    height: 0; width: 0;

}

.cljs-logo::before {
    height: 4em; width: 4em;
    background-image: '/favicon.ico';
}


.com-rigsomelight-devcards-panel-heading {
    /*display: block;*/
    z-index: 1;
    float: right;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    margin-right: 2em;
}

.com-rigsomelight-devcards-panel-heading.com-rigsomelight-devcards-typog {
    background-color: #753636;
    color: white;
}

.com-rigsomelight-devcards-panel-heading.com-rigsomelight-devcards-typog a{
    color: white;
    font-weight: 600;
}
