label {
    display: block;
}

.registration {
    margin-left: 20%;
    margin-right: 20%;
    padding: 5em;
    background-color: wheat;
}

.registration img{
    border-radius: 100%;
    width: 128px;
    height: 128px;
    border: 5px solid gray;
    border: 5px solid rgba(128, 128, 128, 0.5);
    float: left;
    margin-right: 1em;
}

.data-entry {
    margin-left: 20%;
    margin-right: 20%;
    padding: 5em;
    background-color: aliceblue;
}
