/target
/classes
/checkouts
/resources/public/js/compiled/
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.sublime-workspace
figwheel_server*
/error.log*txt
/telemetry*edn
*.tmp
debug.log.txt
