[1546983236676,"","loading http://localhost:3470/presenter.html"]
[1546983237548,"#!/gratitude.a_good_place_to_start/Welcome",872]
[1546983478698,"#!/gratitude.generative_testing.section_10_introduction/About_Speaker",242022]
[1546983491299,"#!/gratitude.generative_testing.section_10_introduction/Gratitude",254623]
[1546983524552,"#!/gratitude.generative_testing.section_10_introduction/Sponsors",287876]
[1546983540145,"#!/gratitude.generative_testing.section_10_introduction/Interview-0",303469]
[1546983555486,"#!/gratitude.generative_testing.section_10_introduction/Interview-1",318810]
[1546983602495,"#!/gratitude.generative_testing.section_10_introduction/Interview-2",365819]
[1546983630944,"#!/gratitude.generative_testing.section_10_introduction/Interview-3",394268]
[1546983664245,"#!/gratitude.generative_testing.section_10_introduction/Interview-4",427569]
[1546983692436,"#!/gratitude.generative_testing.section_10_introduction/Art-Sculpture",455760]
[1546983718565,"#!/gratitude.generative_testing.section_10_introduction/Art-Programming",481889]
[1546983747116,"#!/gratitude.generative_testing.section_10_introduction/Media",510440]
[1546983809646,"#!/gratitude.generative_testing.section_10_introduction/Abstract",572970]
[1546983823576,"#!/gratitude.generative_testing.section_10_introduction/Abstraction-principal",586900]
[1546983891549,"#!/gratitude.callout.software_craftsmanship",654873]
[1546983905159,"#!/gratitude.generative_testing.section_10_introduction/Craftsmanship-manifesto",668483]
[1546983940993,"#!/gratitude.generative_testing.section_10_introduction/Manifesto-1",704317]
[1546983999292,"#!/gratitude.generative_testing.section_10_introduction/Manifesto-2",762616]
[1546984031096,"#!/gratitude.generative_testing.section_10_introduction/Manifesto-3",794420]
[1546984054603,"#!/gratitude.generative_testing.section_10_introduction/Manifesto-4",817927]
[1546984236230,"#!/gratitude.generative_testing.section_10_introduction/Craftsmanship-disclaimer",999554]
[1546984254392,"#!/gratitude.generative_testing.section_20_property_testing/Part_1_Background",1017716]
[1546984256096,"#!/gratitude.generative_testing.section_20_property_testing/Generative-Testing",1019420]
[1546984273500,"#!/gratitude.generative_testing.section_20_property_testing/Generative__Testing_",1036824]
[1546984330660,"#!/gratitude.generative_testing.section_20_property_testing/Sheepish-0",1093984]
[1546984362597,"#!/gratitude.generative_testing.section_20_property_testing/Sheepish-examples",1125921]
[1546984381169,"#!/gratitude.generative_testing.section_20_property_testing/Example-based",1144493]
[1546984433195,"#!/gratitude.generative_testing.section_20_property_testing/Clojure",1196519]
[1546984472150,"#!/gratitude.generative_testing.section_20_property_testing/Clojure-example-based-tests",1235474]
[1546984492846,"#!/gratitude.generative_testing.section_20_property_testing/Csharp",1256170]
[1546984494744,"#!/gratitude.generative_testing.section_20_property_testing/Clojure-example-based-tests",1258068]
[1546984511501,"#!/gratitude.generative_testing.section_20_property_testing/Clojure",1274825]
[1546984513172,"#!/gratitude.generative_testing.section_20_property_testing/Clojure-example-based-tests",1276496]
[1546984514461,"#!/gratitude.generative_testing.section_20_property_testing/Csharp",1277785]
[1546984516815,"#!/gratitude.generative_testing.section_20_property_testing/Clojure-example-based-tests",1280139]
[1546984532475,"#!/gratitude.generative_testing.section_20_property_testing/Csharp",1295799]
[1546984540759,"#!/gratitude.generative_testing.section_20_property_testing/nUnit-example-based-tests",1304083]
[1546984571849,"#!/gratitude.generative_testing.section_20_property_testing/Part_1_Property_tests",1335173]
[1546984584884,"#!/gratitude.generative_testing.section_20_property_testing/Oracle",1348208]
[1546984646745,"#!/gratitude.generative_testing.section_20_property_testing/Clojure-oracle",1410069]
[1546984665994,"#!/gratitude.generative_testing.section_20_property_testing/nUnit-oracle",1429318]
[1546984680816,"#!/gratitude.generative_testing.section_20_property_testing/Clojure-properties",1444140]
[1546984849946,"#!/gratitude.generative_testing.section_20_property_testing/When-properties-1",1613270]
[1546984855291,"#!/gratitude.generative_testing.section_20_property_testing/When-properties-2",1618615]
[1546984857497,"#!/gratitude.generative_testing.section_20_property_testing/When-properties-3",1620821]
[1546985094090,"#!/gratitude.generative_testing.section_20_property_testing/Review_Property_tests",1857414]
[1546985172671,"#!/gratitude.generative_testing.section_20_property_testing/Awesome",1935995]
[1546985207598,"#!/gratitude.generative_testing.section_30_simple_generators/_Generative_-testing",1970922]
[1546985233821,"#!/gratitude.generative_testing.section_30_simple_generators/QuickCheck",1997145]
[1546985268766,"#!/gratitude.generative_testing.section_30_simple_generators/Part_2_Generators",2032090]
[1546985271439,"#!/gratitude.generative_testing.section_30_simple_generators/Generators",2034763]
[1546985387110,"#!/gratitude.generative_testing.section_30_simple_generators/Libraries",2150434]
[1546985410789,"#!/gratitude.generative_testing.section_30_simple_generators/REPL-1",2174113]
[1546985456271,"#!/gratitude.generative_testing.section_30_simple_generators/Clojure-Generator",2219595]
[1546985559900,"#!/gratitude.generative_testing.section_30_simple_generators/nUnit-Generator",2323224]
[1546985680012,"#!/gratitude.generative_testing.section_30_simple_generators/returns",2443336]
[1546985704554,"#!/gratitude.generative_testing.section_30_simple_generators/element-of-collection",2467878]
[1546985728857,"#!/gratitude.generative_testing.section_30_simple_generators/Random_permutations",2492181]
[1546985744322,"#!/gratitude.generative_testing.section_40_composing_generators/Part_3_Transforming-and-Composing-Generators",2507646]
[1546985771898,"#!/gratitude.generative_testing.section_40_composing_generators/Transforming-Generators",2535222]
[1546985836898,"#!/gratitude.generative_testing.section_40_composing_generators/Satisfying_constraint",2600222]
[1546985921323,"#!/gratitude.generative_testing.section_40_composing_generators/Composing-Generators",2684647]
[1546985952803,"#!/gratitude.generative_testing.section_40_composing_generators/Generators-table",2716127]
[1546985987237,"#!/gratitude.generative_testing.section_40_composing_generators/alternatives",2750561]
[1546986019354,"#!/gratitude.generative_testing.section_40_composing_generators/Alternative_generators",2782678]
[1546986086695,"#!/gratitude.generative_testing.section_40_composing_generators/Exact-length_list",2850019]
[1546986101210,"#!/gratitude.generative_testing.section_40_composing_generators/slide-9",2864534]
[1546986116230,"#!/gratitude.generative_testing.section_40_composing_generators/Heterogeneous_tuple",2879554]
[1546986179873,"#!/gratitude.generative_testing.section_40_composing_generators/Element_from_list",2943197]
[1546986190520,"#!/gratitude.generative_testing.section_40_composing_generators/Size-driven_list",2953844]
[1546986204891,"#!/gratitude.generative_testing.section_40_composing_generators/Size-driven_list_non-empty",2968215]
[1546986213929,"#!/gratitude.generative_testing.section_40_composing_generators/List-types",2977253]
[1546986279466,"#!/gratitude.generative_testing.section_40_composing_generators/Size-driven_list_non-empty",3042790]
[1546986280559,"#!/gratitude.generative_testing.section_40_composing_generators/List-types",3043883]
[1546986280721,"#!/gratitude.generative_testing.section_40_composing_generators/Labeled-data",3044045]
[1546986470654,"#!/gratitude.generative_testing.section_40_composing_generators/Un-labeled-data",3233978]
[1546986524016,"#!/gratitude.generative_testing.section_40_composing_generators/arbitrary-data-types-and-specs",3287340]
[1546986567819,"#!/gratitude.generative_testing.section_40_composing_generators/Card-types",3331143]
[1546986577240,"#!/gratitude.generative_testing.section_40_composing_generators/Card-generator-FsCheck",3340564]
[1546986625320,"#!/gratitude.generative_testing.section_40_composing_generators/Card-types",3388644]
[1546986625859,"#!/gratitude.generative_testing.section_40_composing_generators/Card-generator-FsCheck",3389183]
[1546986626910,"#!/gratitude.generative_testing.section_40_composing_generators/Card-generator-clojure",3390234]
[1546986653590,"#!/gratitude.generative_testing.section_40_composing_generators/Generators-review",3416914]
[1546986670634,"#!/gratitude.generative_testing.section_40_composing_generators/Part_4_Application",3433958]
[1546986672173,"#!/gratitude.generative_testing.section_40_composing_generators/Sheepish-gen-1",3435497]
[1546986696607,"#!/gratitude.generative_testing.section_40_composing_generators/Sheepish-gen-2",3459931]
[1546986698420,"#!/gratitude.generative_testing.section_40_composing_generators/Sheepish-gen-3",3461744]
[1546986700443,"#!/gratitude.generative_testing.section_40_composing_generators/generator-source",3463767]
[1546986701894,"#!/gratitude.generative_testing.section_40_composing_generators/Sheepish-gen-3",3465218]
[1546986754157,"#!/gratitude.generative_testing.section_40_composing_generators/Sheepish-gen-2",3517481]
[1546986755247,"#!/gratitude.generative_testing.section_40_composing_generators/Sheepish-gen-1",3518571]
[1546986758291,"#!/gratitude.generative_testing.section_40_composing_generators/Sheepish-gen-2",3521615]
[1546986764667,"#!/gratitude.generative_testing.section_40_composing_generators/Sheepish-gen-3",3527991]
[1546986765441,"#!/gratitude.generative_testing.section_40_composing_generators/generator-source",3528765]
[1546986766426,"#!/gratitude.generative_testing.section_50_gratitude_generators/Gratitude-application-1",3529750]
[1546986816079,"#!/gratitude.generative_testing.section_50_gratitude_generators/Gratitude-application-user-demo-1",3579403]
[1546986827702,"#!/gratitude.generative_testing.section_50_gratitude_generators/Gratitude-application-user-demo-2",3591026]
[1546986831459,"#!/gratitude.generative_testing.section_50_gratitude_generators/Gratitude-application-user-spec",3594783]
[1546986885066,"#!/gratitude.generative_testing.section_50_gratitude_generators/Failed-such-that",3648390]
[1546986891664,"#!/gratitude.generative_testing.section_50_gratitude_generators/Gratitude-application-user-spec",3654988]
[1546986896126,"#!/gratitude.generative_testing.section_50_gratitude_generators/Failed-such-that",3659450]
[1546986899677,"#!/gratitude.generative_testing.section_50_gratitude_generators/Sane_users",3663001]
[1546986946549,"#!/gratitude.generative_testing.section_50_gratitude_generators/Insane_users",3709873]
[1546986952116,"#!/gratitude.generative_testing.section_50_gratitude_generators/Gratitude-application-user-generation-url",3715440]
[1546986986112,"#!/gratitude.generative_testing.section_50_gratitude_generators/Gratitude-application-user-generation-email",3749436]
[1546987014474,"#!/gratitude.generative_testing.section_50_gratitude_generators/Gratitude-application-user-generation-person-name",3777798]
[1546987020597,"#!/gratitude.generative_testing.section_50_gratitude_generators/Gratitude-application-user-generation-person-full-name",3783921]
[1546987024694,"#!/gratitude.generative_testing.section_50_gratitude_generators/Gratitude-application-user-generation-custom-generators-1",3788018]
[1546987083167,"#!/gratitude.generative_testing.section_50_gratitude_generators/Gratitude-application-user-generation-custom-generators-2",3846491]
[1546987090792,"#!/gratitude.generative_testing.section_50_gratitude_generators/Gratitude-application-user-demo-3",3854116]
[1546987101590,"#!/gratitude.generative_testing.section_50_gratitude_generators/Thank-you-note-spec",3864914]
[1546987107209,"#!/gratitude.generative_testing.section_50_gratitude_generators/Thank-you-note-samples",3870533]
[1546987110304,"#!/gratitude.generative_testing.section_50_gratitude_generators/Sane_users_thank-you-notes",3873628]
[1546987117780,"#!/gratitude.generative_testing.section_50_gratitude_generators/Insane_users_thank-you-notes",3881104]
[1546987119295,"#!/gratitude.generative_testing.section_50_gratitude_generators/CodeMash_users_thank-you-notes",3882619]
[1546987121108,"#!/gratitude.generative_testing.section_50_gratitude_generators/Awards-event-specs",3884432]
[1546987130432,"#!/gratitude.generative_testing.section_50_gratitude_generators/Awards-data",3893756]
[1546987136392,"#!/gratitude.generative_testing.section_50_gratitude_generators/Randomness-ahead",3899716]
[1546987138353,"#!/gratitude.generative_testing.section_50_gratitude_generators/Awards-data-one-scenario",3901677]
[1546987139903,"#!/gratitude.generative_testing.section_50_gratitude_generators/Visualized-awards-data-one-scenario",3903227]
[1546987178416,"#!/gratitude.generative_testing.section_60_closing/References",3941740]
